.container {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 1rem;
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #d1d6dd 0%, #bdc2ce 74%);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 3.5rem;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.inputField {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 45px;
    border-radius: 55px;
    padding: 0 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField input {
    width: 100%;
    padding-left: 1rem;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
}

.inputField select {
    width: 100%;
    padding-left: 1rem;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.2rem;
}

.select option {
    font-size: 1.2rem;
}

option[value="Star"] {
    color: gold;
}

option[value="Heart"] {
    color: red;
}

option[value="Octagon"] {
    color: green;
}

.inputField input::placeholder {
    color: #aaa;
}

.btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border: 2px solid #647ba3;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.btn:hover {
    font-size: 1rem;
    background-color: #3e66ac;
    border: 4px solid #4a628b;
}